<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer" id="questionform" method="get">
   <!-- needs to be the router, this one determines the appropriate URL -->
  <input type="text" name="question">
  <!-- "question" is being stored as a symbol in params -->
  <input type="submit" value="Ask!">
</form>


